.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color:#39A8A1;
}


.dark-mode {
  color: #fff;
  background-color: #313843;
}
.header {
    background-color: #1F2022;
    border: none;
}
/* landing page section */
.button1 {
  padding: 0 20px;
  margin: 10px;
  color: white;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .8s ease-in-out;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.button1:hover {
    color: white;
    background-position: 100% 0;
    transition: all .8s ease-in-out;
}

.landing-page-header{
  padding: 20px;
  background-color:#9BACCE;
  margin-bottom: 40px;
}


/* footer section */
.footer{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#9BACCE;
}


